
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

/* Adding background gradient to the whole app */
body {
  background: repeating-linear-gradient(
    25deg,
    #808080, /* First grey shade */
    #808080 100px, 
    #737373 100px, /* Second grey shade */
    #737373 200px, 
    #676767 200px, /* Third grey shade */
    #676767 300px
  );
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.input-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .number-input {
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-grid-button {
    height: 3rem;
    width: 6rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  /* .grid-row {
    display: contents;
  }
   */

   .grid-message {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
   }