
.square-button {
    width: 4rem;
    height: 4rem;
    display: block;
    margin: 0 auto;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  